/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.section-header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.section-header__img {
  width: 100%;
}

.section-header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

.section-header { 
  text-align: center;
}

}

.section-main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task-input_active,
.task-label_active {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}

.add-task {
  display: flex;
}

.list-tasks {
  margin: 0;
  padding: 0px;
}

.list-tasks__item,
.section-title {
  list-style: none;
}

.task-input,
.task-btn,
.task-input_active,
.task-btn_edit {
  outline: none;
}

.task-btn,
.task-btn_delete,
.task-btn_edit {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.task-btn:hover,
.task-btn_delete:hover,
.task-btn_edit:hover {
  color: #3a3a3a;
}

/* Heading */
.section-title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task-input_text,
.task-input_active {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task-input_text:focus {
  color: #333;
}

/* New Task */
.section-title[for="new-task"] {
  display: block;
  margin: 0 0 20px;
}

.add-task .task-input {
  width: 318px;
}

/* Task list */
.list-tasks__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-tasks__item > * {
  vertical-align: middle;
}

.list-tasks__item .task-input_text,
.list-tasks__item .task-input_active {
  margin: 0 10px;
}

.list-tasks__item .task-label,
.list-tasks__item .task-label_active {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.list-tasks__item .task-input_text,
.list-tasks__item .task-input_active {
  width: 226px;
}

.task-btn_delete .task-btn__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.task-btn_delete .task-btn__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.list-tasks_completed-tasks .task-label_active {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.list-tasks__item .task-input_active[type=text] {
  display: none;
}

.list-tasks__item_edit-mode .task-input_active[type=text] {
  display: inline-block;
  width: 224px;
}

.list-tasks__item_edit-mode .task-label_active {
  display: none;
}